@import "tailwindcss";

:root {
  --vh: 100vh;
  --navbar-height: 9rem;
}
.scroll-hidden {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scroll-hidden::-webkit-scrollbar {
  display: none; 
}

@media screen and (min-width: 640px) {
  :root {
    --navbar-height: 8rem;
  }
  
}

@supports (height: 100svh) {
  :root {
    --vh: 100svh;
  }
}
  