---
import "../styles/global.css";
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GiorgiDesign</title>
    <base href="/" />
    <link rel="icon" href="/logo/logo.webp" type="image/x-icon" />
  </head>
  <body class="font-sans">
    <!-- Navbar -->
    <nav class="fixed top-0 w-full bg-pink-50 shadow z-50 h-32">
      <img
        src="/logo/marchio.webp"
        alt="GiorgiDesign Logo"
        class="mx-auto mt-3"
      />
      <ul
        class="flex justify-center space-x-6 p-4 text-pink-500 font-bold text-sm"
      >
        <li><a href="#home" data-link="home">GIORGI DESIGN</a></li>
        <li><a href="#about" data-link="about">CHI SONO</a></li>
        <li><a href="#sartoria" data-link="services">SARTORIA</a></li>
        <li><a href="#modellistica" data-link="services">MODELLISTICA</a></li>
        <li><a href="#contact" data-link="contact">CONTATTI</a></li>
      </ul>
    </nav>

    <div
      class="snap-y snap-mandatory overflow-y-scroll h-screen scroll-smooth overscroll-y-contain scroll-hidden bg-pink-50 text-pink-500"
    >
      <!-- Main -->
      <main class="pt-32">
        <section
          id="home"
          class="scroll-mt-32 h-[calc(100vh-128px)] w-auto snap-start flex items-center justify-center"
        >
          <img
            src="/images/12145.jpg"
            alt="Home"
            class="w-full max-w-4xl max-h-[calc(100vh-128px)] mx-auto object-contain"
          />
        </section>

        <section
          id="about"
          class="scroll-mt-32 h-[calc(100vh-128px)] snap-start flex items-center px-10"
        >
          <div
            class="flex flex-col md:flex-row items-center gap-10 max-w-6xl mx-auto"
          >
            <img
              src="/images/12145.jpg"
              alt="About"
              class="max-h-[calc((100vh-128px)/2)] md:w-1/2 md:h-auto object-contain border-none"
            />
            <div class="md:w-1/2 text-2xl">
              <p>
                Sono GiorgiDesign, un team appassionato di design e sviluppo
                front-end moderno.
              </p>
            </div>
          </div>
        </section>

        <section
          id="sartoria"
          class="scroll-mt-32 h-[calc(100vh-128px)] snap-start flex items-center px-10"
        >
          <div
            class="flex flex-col md:flex-row-reverse items-center gap-10 max-w-6xl mx-auto"
          >
            <img
              src="/images/12145.jpg"
              alt="Servizi"
              class="max-h-[calc((100vh-128px)/2)] md:w-1/2 md:h-auto object-contain border-none"
            />
            <div class="md:w-1/2">
              <ul class="text-end">
                <li>Sartoria</li>
                <li>Modellistica</li>
              </ul>
            </div>
          </div>
        </section>
        <section
          id="modellistica"
          class="scroll-mt-32 h-[calc(100vh-128px)] snap-start flex items-center px-10"
        >
          <div
            class="flex flex-col md:flex-row-reverse items-center gap-10 max-w-6xl mx-auto"
          >
            <img
              src="/images/12145.jpg"
              alt="Servizi"
              class="max-h-[calc((100vh-128px)/2)] md:w-1/2 md:h-auto object-contain border-none"
            />
            <div class="md:w-1/2">
              <ul>
                <li>Sartoria</li>
                <li>Modellistica</li>
              </ul>
            </div>
          </div>
        </section>
      </main>

      <!-- Footer -->
      <footer
        id="contact"
        class="scroll-mt-32 h-[calc(100vh-128px)] snap-start flex flex-col justify-between items-center text-center"
      >
        <!-- Blocco contatti -->
        <div class="max-w-2xl my-auto">
          <h2 class="text-4xl mb-4">Contattaci</h2>
          <p class="mb-3">
            Scrivimi per un preventivo o una consulenza. Sono a tua disposizione
            per ogni progetto!
          </p>
          <ul class="mb-5">
            <li class="mb-2">Telefono: 3333333333</li>
            <li class="mb-2">Email: laboratorio@giorgidesign.it</li>
            <li class="mb-2">P. Iva: 00000000000000000000</li>
            
          </ul>
          <div class="flex flex-row justify-around">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.8985186174364!2d10.301982676670358!3d43.54615725934673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d5e982ae0cdc3f%3A0x93fe6bc952e2c673!2sPepe%20Factory!5e0!3m2!1sit!2sit!4v1695150957715!5m2!1sit!2sit"
              width="50%"
              height="400em"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              class="m-auto pe-2"></iframe>
              <div class="flex flex-col justify-center items-center">
              <img src="/logo/logo.webp" alt="" class="h-16 w-16">
              <img src="/logo/logo.webp" alt="" class="h-16 w-16">
            </div>
            </div>
        </div>

        <!-- Blocco credits sempre in fondo -->
        <div class="bg-pink-100 text-pink-500 w-full py-6">
          <div class="max-w-6xl mx-auto text-xs ">
            <p>
              &copy; {new Date().getFullYear()} GiorgiDesign. Tutti i diritti riservati.
            </p>
            <p class="mt-2">
              Sito realizzato con Astro + Tailwind CSS da
              <a
                href="https://walterbarbieri.it"
                target="_blank"
                referrerpolicy="no-referrer"
              >
                BWFullStackDeveloper
              </a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script type="module" src="/src/scripts/nav-active.js"></script>
  </body>
</html>
